* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    border: 0px red solid;
}

:root {
    --grid-size: 50vw;
}

body {
    display: relative;
    width: 100%;
    background-color: whitesmoke;
}

div#charCreation {
    position: fixed;
    top: 25%;
    left: 25%;
    margin: 0 auto;
    width: 50vw;
    height: 50vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#charCreationTitle {
    display: none;
}

#nameDiv {
    display: none;
}

#nameSubmit, #nameInput, #dobSubmit, #dobInput {
    padding: 5px;
    margin: 0px;
}

div#gameBoard {
    display: none;
}

#chooseLogo {
    display: none;
}

.fixedContainer {
    display: none;
    background-color:#ddd;
    position: fixed;
    padding: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#winnerAnnouncement {
    display: absolute;
    top: 50px;
    left: 50px;
}

.pagelayout {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr;
}

h1 {
    display: block;
    color: black;
    text-align: center;
}

h3 {
    display: inline;
}

h3#winner-message {
    color: black;
}

div.spacer {
    height: 20px;
}

img {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.tictactoeBoard {
    display: none;
    /* display: grid; */
    margin: 0 auto;
    width: var(--grid-size);
    height: var(--grid-size);
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.boardSquare {
    display: flex;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    pointer-events: all;
}

.boardSquare:hover {
    background-color: papayawhip;
}

.playerImage {
    width: 100px;
}

input[type=button] {
    margin-top: 40px;
    padding: 20px;
    color: black;
    border: 1px black solid;
}

input[type=button]#nextGame {
    text-align: center;
    margin: 0 auto;
    display: none;
}

input[type=button]:hover {
    color: whitesmoke;
    background-color: grey;
}

div#gameStats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

div#gameStats h3 {
    display: block;
    padding-top: 20px;
    font-size: 30px;
}

div#playerStats {
    display: inline-block;
}