reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my styling */

.bigbar {
    height: 25px;
    background-color: var(--primary-color);
    border-radius: 50px;
}

.smallbar {
    background-color: var(--tertiary-color);
    border-radius: 50px;
    height: 19.5px;
    padding-top: 5.5px;
    font-weight: 600;
    color: var(--primary-color);
}

#header-grid h1 {
    font-weight: 800;
}

#howItWorks {
    max-width: 300px;
    background-color: var(--background-pale);
    padding: 40px;
    margin-bottom: 40px;
    border: 5px solid var(--primary-color);
}

h2 {
    font-size: 1.6em;
    padding-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.2;
}

p#disclaimer {
    font-weight: 600;
}

:root {
    /* --grid-size: 30vw; */
    --primary-color: black;
    --secondary-color: whitesmoke;
    --tertiary-color: #fff2f2;
    --quaternary-color: grey;
    --background-pale: white;

}

div.playerStats {
    background-color: var(--tertiary-color);
    border: var(--primary-color) 5px solid;
    margin: 20px 20px 0px 20px;
    padding: 0px 30px;
}

.pagelayout {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr;
}

div#gameStatGrid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
}

#gameStats {
    justify-self: center;
    align-self: center;
}

.tictactoeBoard {
    background-color: var(--primary-color);
    max-height: 550px;
    max-width: 550px;
    margin-top: 5%;
    display: none;
    /* display: grid; */
    justify-self: center;
    align-self: center;
    width: var(--grid-size);
    height: var(--grid-size);
    grid-template-columns: 1fr 1fr 1fr;
    /* border: var(--primary-color) 5px solid; */
    grid-gap: 5px;
}

#displayAds {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr;
}

.displayAd img {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
}

body {
    margin: 0 auto;
    display: relative;
    width: 70em;
    background-color: var(--secondary-color);
}

header {
    margin-top: 20px;
    background-color: var(--secondary-color);
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}

header h1 {
    color: var(--primary-color);
}

#header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

nav {
    position: static;
    display: block;
    padding: 20px;
}

ul#navlist
{
  text-align: center;
}

a.navlink {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1em;
}

a.navlink:hover {
    color: var(--tertiary-color);
    text-decoration: underline;
}

h, p, div, a, input, li {
    font-family: 'Red Hat Display', sans-serif;
}

div#charCreation {
    padding: 0 5%;
    height: 80vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}


div#resultsGrid {
    padding: 0 5%;
    height: 80vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#charCreationTitle {
    display: none;
}

#nameDiv {
    display: none;
}

#loadingOfResults {
    display: none;
}

#firstResultsScreen {
    display: none;
}


div#resultsGrid {
    display: none;
}

.resultsLogos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0;
}

.player1resultslogo {
    padding-right: 40px;
    justify-self: right;
}

.resultsLogos img {
    width: 100px;
}

.player2resultslogo {
    padding-left: 40px;
    justify-self: left;
}

.zodiacResults {
    max-width: 500px;
    justify-self: center;
    background-color: var(--background-pale);
    padding: 40px;
    margin-bottom: 40px;
    border: 5px solid var(--primary-color);
}

#nameSubmit, #nameInput, #dobSubmit, #dobInput {
    padding: 5px;
    margin: 0px;
}

div#gameBoard {
    display: none;
}

#chooseLogo {
    display: none;
}

.fixedContainer {
    z-index: 2;
    display: none;
    background-color: var(--tertiary-color);
    position: fixed;
    padding: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#winnerAnnouncement {
    display: absolute;
    top: 50px;
    left: 50px;
}

h1 {
    font-size: 1.6em;
    display: block;
    color: var(--primary-color);
    text-align: center;
}

h3 {
    text-align: center;
}

h3#winner-message {
    color: var(--primary-color);
}

div.spacer {
    height: 20px;
}

img {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

#secondResultScreen {
    display: none;
}

.boardSquare {
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: var(--secondary-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border: 1px solid var(--tertiary-color); */
    pointer-events: all;
}

.boardSquare:hover {
    background-color: var(--tertiary-color);
}

.playerImage {
    width: 100px;
}

input[type=button] {
    margin-top: 40px;
    padding: 20px;
    color: var(--primary-color);
    border: 1px var(--primary-color) solid;
}

input#startOver {
    margin-top: 10px;
}

input[type=button]#nextGame {
    text-align: center;
    margin: 0 auto;
    display: none;
}

input[type=button]:hover {
    color: var(--secondary-color);
    background-color: var(--quaternary-color);
}

div#gameStats {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

div#gameStats h3 {
    display: block;
    padding-top: 20px;
}

@media (min-width: 0em) {
    :root {
        --grid-size: 80vw;
    }

    .displayAd img {
        display: block;
        width: 100w;
    }
    #displayAd1 {
        display: none;
    }
    div#gameStats h3 {
        font-size: 1.5rem;
    }
    div#gameStats h4 {
        padding-top: 10px;
        font-size: 1rem;
    }
    div.playerStats {
        margin: 20px 20px 20px 20px;
        padding: 0px 10px;
    }

    body {
        width: 100%;
    }

}

@media (min-width: 40em) {

    :root {
        --grid-size: 70vw;
    }

    #displayAds {
        grid-template-columns: 1fr;
    }

    #displayAd1 {
        display: block;
    }

    .displayAd img {
        display: inline-block;
        width: 30vw;
    }

    div#gameStats h3 {
        font-size: 2rem;
    }

    div#gameStats h4 {
        padding-top: 20px;
        font-size: 1.5rem;
    }

    div.playerStats {
        margin: 20px 20px 20px 20px;
        padding: 0px 4.2em;
    }


}

@media (min-width: 70em) {

    :root {
        --grid-size: 50vw;
    }

    .tictactoeBoard {
        margin-top: 0px;
    }

    #displayAds {
        /* grid-auto-rows: minmax(150px, auto)  */
    }

    .displayAd img {
        display: inline-block;
        width: 40vw;
    }

    div#gameStats {
        grid-template-columns: 1fr;
    }

    div#gameStats h3 {
        font-size: 2rem;
    }

    div#gameStats h4 {
        padding-top: 20px;
        font-size: 1.5rem;
    }

    .pagelayout {
        grid-template-columns: 2fr 1fr;
        /* height: 60vh; */
    }

    div.playerStats {
        margin: 20px 20px 20px 20px;
        padding: 0px 4.2em;
    }

    body {
        width: 70em;
    }

}


/* got fed up of CSS and found this overlay on WS3 schools haha */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }



/* @media (min-width: 90em) {
    .pagelayout {
        grid-template-columns: 1fr 1fr;
        height: 80vh;
    }
} */