reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my styling */

* {
    box-sizing: border-box;
}

:root {
    /* --grid-size: 30vw; */
    --primary-color: black;
    --secondary-color: whitesmoke;
    --tertiary-color: #fff2f2;
    --quaternary-color: grey;

}

.displayAds {
    margin: 0 auto;
    max-width: 90vw;
}

.displayAds img {
    max-width: 300px;
}

@media (min-width: 0em) {
    :root {
        --grid-size: 80vw;
    }

    .displayAds img {
        display: inline-block;
        width: 42.5vw;
    }
    #ad1 {
        display: none;
    }
    div#gameStats h3 {
        font-size: 1.5rem;
    }
    div#gameStats h4 {
        padding-top: 10px;
        font-size: 1rem;
    }
}

@media (min-width: 40em) {

    :root {
        --grid-size: 70vw;
    }

    .displayAds img {
        display: inline-block;
        width: 40vw;
    }
    div#gameStats h3 {
        font-size: 2rem;
    }
    div#gameStats h4 {
        padding-top: 20px;
        font-size: 1.5rem;
    }
}

@media (min-width: 50em) {

    :root {
        --grid-size: 40vw;
    }

    .displayAds img {
        display: inline-block;
        width: 40vw;
    }
    div#gameStats h3 {
        font-size: 2rem;
    }
    div#gameStats h4 {
        padding-top: 20px;
        font-size: 1.5rem;
    }
}



body {
    display: relative;
    width: 100%;
    background-color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    border-bottom: solid 2px var(--secondary-colour);
}

header h1 {
    color: var(--secondary-color);
}

#header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

nav {
    position: static;
    display: block;
    padding: 20px;
}

ul#navlist
{
  text-align: center;
}

a.navlink {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1em;
}

a.navlink:hover {
    color: var(--tertiary-color);
    text-decoration: underline;
}

h, p, div, a, input, li {
    font-family: 'Red Hat Display', sans-serif;
}

div#charCreation {
    position: fixed;
    top: 25%;
    left: 25%;
    margin: 0 auto;
    width: 50vw;
    height: 50vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#charCreationTitle {
    display: none;
}

#nameDiv {
    display: none;
}

#nameSubmit, #nameInput, #dobSubmit, #dobInput {
    padding: 5px;
    margin: 0px;
}

div#gameBoard {
    display: none;
}

#chooseLogo {
    display: none;
}

.fixedContainer {
    display: none;
    background-color: var(--tertiary-color);
    position: fixed;
    padding: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#winnerAnnouncement {
    display: absolute;
    top: 50px;
    left: 50px;
}

.pagelayout {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr;
}

h1 {
    font-size: 1.6em;
    display: block;
    color: var(--primary-color);
    text-align: center;
}

h3 {
    text-align: center;
}

h3#winner-message {
    color: var(--primary-color);
}

div.spacer {
    height: 20px;
}

img {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.tictactoeBoard {
    display: none;
    /* display: grid; */
    margin: 0 auto;
    width: var(--grid-size);
    height: var(--grid-size);
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.boardSquare {
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: var(--primary-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    pointer-events: all;
}

.boardSquare:hover {
    background-color: var(--quaternary-color);
}

.playerImage {
    width: 100px;
}

input[type=button] {
    margin-top: 40px;
    padding: 20px;
    color: var(--primary-color);
    border: 1px var(--primary-color) solid;
}

input#startOver {
    margin-top: 10px;
}

input[type=button]#nextGame {
    text-align: center;
    margin: 0 auto;
    display: none;
}

input[type=button]:hover {
    color: var(--secondary-color);
    background-color: var(--quaternary-color);
}

div#gameStats {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;

}

div#gameStats h3 {
    display: block;
    padding-top: 20px;
}

div#playerStats {
    display: inline-block;
}

div.displayAds {
    position: static;
}

.displayAds img {
    padding: 20px 0;
    margin: 0 auto;
}